<div class="body">
<mat-card class="card">
    <mat-card-title>This is a sample task 
        <button style="float:right;" mat-stroked-button color="primary"> Mark completed</button>
    </mat-card-title>
    <mat-card-subtitle>Due 27 Sept 2021 at 4:15 PM</mat-card-subtitle>
    <mat-card-content>This is a description of the sample task. Do this task before the mentioned deadline...</mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent"> View</button>
    </mat-card-actions>
    <mat-card-footer>
       
    </mat-card-footer>
</mat-card>

<mat-card class="card">
    <mat-card-title>This is a sample task 
        <button style="float:right;" mat-stroked-button color="primary"> Mark completed</button>
    </mat-card-title>
    <mat-card-subtitle>Due 27 Sept 2021 at 4:15 PM</mat-card-subtitle>
    <mat-card-content>This is a description of the sample task. Do this task before the mentioned deadline...</mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent"> View</button>
    </mat-card-actions>
    <mat-card-footer>
     
    </mat-card-footer>
</mat-card>

<mat-card class="card">
    <mat-card-title>This is a sample task 
        <button style="float:right;" mat-stroked-button color="primary"> Mark completed</button>
    </mat-card-title>
    <mat-card-subtitle>Due 27 Sept 2021 at 4:15 PM</mat-card-subtitle>
    <mat-card-content>This is a description of the sample task. Do this task before the mentioned deadline...</mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent"> View</button>
    </mat-card-actions>
    <mat-card-footer>
     
    </mat-card-footer>
</mat-card>
</div>